<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>837344843176-eocnhudd961fo3c0it4742sg7lpv8gl0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.837344843176-eocnhudd961fo3c0it4742sg7lpv8gl0</string>
	<key>API_KEY</key>
	<string>AIzaSyC-XQiJC4c61Dxqxm0l8C4wzT-ogd5q74Y</string>
	<key>GCM_SENDER_ID</key>
	<string>837344843176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.valid.FirebaseSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>fir-swiftui-bafb7</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-swiftui-bafb7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837344843176:ios:b91147db38783c4ab8f99d</string>
</dict>
</plist>